<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.DataCellToJavaConverter">
      <DataCellToJavaConverter
            factoryClass="org.knime.knip.dl4j.data.convert.ImgPlusValueToINDArrayConverterFactory"></DataCellToJavaConverter>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/deeplearning/data"
            deprecated="false"
            factory-class="org.knime.knip.dl4j.node.data.mnist.MnistFetcherNodeFactory"
            id="org.knime.knip.dl4j.node.data.mnist.MnistFetcherNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="res/icons/missing.gif"
            level-id="data"
            locked="true"
            name="Data"
            path="/labs/deeplearning/">
      </category>
   </extension>

</plugin>
