<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.ext.dl4j.base.DL4JConverter">
      <DL4JConverter
            converterClass="org.knime.knip.dl4j.data.convert.ImgPlusValueToDoubleArrayConverter2">
      </DL4JConverter>
   </extension>

</plugin>
